{% extends "bootstrap/base.html" %}
<html>
  <head>
    <title>Crimson</title>
  </head>
  <body>
    {% block navbar %}
    <div class="navbar navbar-fixed-top">
    Crimson:
      <a href="{{ url_for('index') }}">Home</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('user.login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('item_list') }}">Item List</a>
      {% if current_user.has_role('council') %}
      <a href="{{ url_for('assign_item') }}">Check Loot Drop</a>
      <a href="{{ url_for('manage_users') }}">Manage Users</a>
      <a href="{{ url_for('item_list_lock') }}">Manage Item List Lock</a>
      <a href="{{ url_for('workbook') }}">Item List Workbooks</a>
      {% endif %}
      <a href="{{ url_for('user.logout') }}">Logout</a>
      {% endif %}
    </div>
    {% endblock %}
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>