{% extends "base.html" %}

{% block content %}
    <h1>User password change</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>Update password</p>
        {{ form.password.label }}{{ form.password }}
        {% if form.password.errors %}
            <ul class="errors">
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>{{ form.submit() }}</p>
    </form>
    {% if success %}
    <p>Password has been updated.</p>
    {% endif %}
{% endblock %}
